name: My workflow
on: 
    push:
        branches:
            - main

    workflow_dispatch:

jobs:
    my-first-job:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World"
    my-second-job:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Bye World"